<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <a href="/new">New page</a>
  <a href="/edit/<%= current_path %>">Edit</a>
  <a href="/delete/<%= current_path %>">Delete</a>
  <%= content %>
</body>
</html>

