form#edit-page {
    textarea {
        overflow: hidden;
        outline: none;
        display: block;
        border-radius: 4px;
        border: 4px solid #556677;

        padding: 10px;
        margin: 50px auto;
        resize: vertical;
    }
}

ul, ol {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 1.5em;
}

#page-body {
  box-shadow: 0 0 0.5em #999;
  padding: 10px 20px;
}
